:root {
  --bs-form-control-bg: #e5e5e5;
  --bs-tertiary-bg: #e5e5e5
}


img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.w-15 {
  width: 20%;
}

.w-60 {
  width: 50%;
}

.debug {
  min-height: 50px;
  background-color: rgba(0, 0, 255, 0.311);
  border: 1px solid black;
}
/* body */

.mb-main-wrapper {
  height: 100vh;
}


/* UPPER NAV */

.mb-upper-nav {
  height: 80px;
}

.form-control:focus{
  box-shadow: none;
  border-color: #e5e5e5;
}

.mb-upper-nav .mb-dropdown.dropdown-menu[data-bs-popper] {
  left: -130px;
}


/* MAIN */

.mb-content-wrapper {
  height: calc(100% - 80px);
}

.mb-sidenav {
  width: 130px;
  background-image: url(../img/sidebar-bg.png);
  background-color: #051e34;
}

.mb-sidenav .btn-dark {
  background-color:transparent;
  border: none;
}
.mb-sidenav .btn-dark:hover{
  background-color: var(--bs-btn-hover-bg)
}

.mb-dashboard {
  width: calc(100% - 130px);
}

/* dashboard uppernav with offcanvas */
.mb-dash-nav {
  height: 100px;
  background-color: #1b72e8;
}

.mb-dash-nav .offcanvas {
  --bs-offcanvas-width: 768px;
}

/* <!-- dash content --> */
.mb-dash-content {
  height: calc(100vh - 180px);
}

/* prossime classi */

.next-class h2 {
  background-color: #e5e5e5;
  border-color: none;
}

.next-class .mb-table img {
  height: 1.5rem;
  width: 1.5rem;
}

/*RESPONSIVE*/
@media screen and (max-width:768px){

  
.mb-sidenav {
  width: 50px;
}

.mb-sidenav span {
  display: none;
}

.mb-dashboard {
  width: calc(100% - 50px);
}

  .mb-dashboard .mb-dash-nav .offcanvas.offcanvas-end {
  width: 100%;
  }
}